<div class="modal fade top" id="CreditsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">

    <div class="modal-dialog modal-frame modal-top" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row d-flex justify-content-center align-items-center">

                    <p class="pt-3 pr-2">
                       Sistemde olabilmek için kredi satın almanız gerekmektedir. Lütfen sisteme giriş yapıp kredi satın alınız.
                    </p>

                    <button type="button" class="btn btn-outline-danger btn-rounded waves-effect" data-dismiss="modal">Kapat</button>
                    <a href="/Order"><button type="button" class="btn btn-outline-warning btn-rounded waves-effect">Kredi Satın Al</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
