.foto-1 {
    background: url(../img/foto-1.jpg) no-repeat center center;
    background-size: cover;
}

.foto-2 {
    background: url(../img/foto-2.jpg) no-repeat center center;
    background-size: cover;
}

.foto-3 {
    background: url(../img/foto-3.jpg) no-repeat center center;
    background-size: cover;
}

.foto-4 {
    background: url(../img/foto-4.jpg) no-repeat center center;
    background-size: cover;
}

.foto-5 {
    background: url(../img/foto-5.jpg) no-repeat center center;
    background-size: cover;
}

.foto-6 {
    background: url(../img/foto-6.jpg) no-repeat center center;
    background-size: cover;
}

.foto-7 {
    background: url(../img/foto-7.jpg) no-repeat center center;
    background-size: cover;
}

.foto-8 {
    background: url(../img/foto-8.jpg) no-repeat center center;
    background-size: cover;
}

.foto-9 {
    background: url(../img/foto-9.jpg) no-repeat center center;
    background-size: cover;
}

.foto-10 {
    background: url(../img/foto-10.jpg) no-repeat center center;
    background-size: cover;
}

.foto-11 {
    background: url(../img/foto-11.jpg) no-repeat center center;
    background-size: cover;
}

.foto-12 {
    background: url(../img/foto-12.jpg) no-repeat center center;
    background-size: cover;
}

.foto-13 {
    background: url(../img/foto-13.jpg) no-repeat center center;
    background-size: cover;
}

.foto-14 {
    background: url(../img/foto-14.jpg) no-repeat center center;
    background-size: cover;
}

.foto-15 {
    background: url(../img/empty.jpg) no-repeat center center;
    background-size: cover;
}

.foto-16 {
    background: url(../img/star-sari.svg) no-repeat center center;
    background-size: cover;
}
.foto-17 {
    background: url(../img/empty.jpg) no-repeat center center;
    background-size: cover;
}



/* Preloader */
#preloader {
    position: fixed;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    background-color: #fff; /* sayfa yüklenirken gösterilen arkaplan rengimiz */
    z-index: 99; /* efektin arkada kalmadığından emin oluyoruz */
    display: none;
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../../Content/css/image/805.gif); /* burası yazının ilk başında bahsettiğimiz animasyonu çağırır */
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px -100px;
}

