
@{
    ViewBag.Title = "Şifremi Unuttum";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

@model OOI.UI.Web.Models.VM.ForgetPasswordVM

    <script src="~/Scripts/mask/jquery.inputmask.bundle.js"></script>
<div class="ChangePassword">
    <div class="ChangePassword-a">
        @if (ViewBag.IslemDurum == EnumIslemDurum.ValidationHata)
        {
            <div class="alert alert-danger">
                @Html.ValidationSummary()
            </div>
        }
        @if (ViewBag.IslemDurum == EnumIslemDurum.IslemBasarili)
        {
            <div class="alert alert-success">
                @FormMessages.PasswordForget
              
            </div>
        }

    <form style="margin-bottom: 98px" method="post">
        <h1>Şifremi Unuttum</h1>
        <div class="registration-type ">
        </div>
        <div class="form-group">
            <label for="">Telefon</label>
            @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control form-a", @id = "phone" })

        </div>
        <div class="form-group">
            <label for="">EMail</label>
            @Html.TextBoxFor(x => x.EMail, new { @class = "form-control form-a" })

        </div>

        <button type="submit" class="form-b" id="gonder">Gönder</button>
    </form>

    </div>
</div>
<script>
        $("#phone").inputmask({ "mask": "(999) 999-9999" });
</script>

