

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<div style="height: 100vh">
    <div class="flex-center flex-column">
        <h1 class="animated fadeIn mb-2">Material Design for Bootstrap</h1>

        <h5 class="animated fadeIn mb-1">Thank you for using our product. We're glad you're with us.</h5>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCookie1">Cookies</button>
        <button type="button" class="btn btn-primary" id="x" data-id="2">Cookies</button>
      
        <div class="modal fade top" id="modalCookie1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true" data-backdrop="true">
            <div class="modal-dialog modal-frame modal-top modal-notify modal-info" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Body-->
                    <div class="modal-body">
                        <div class="row d-flex justify-content-center align-items-center">

                            <p class="pt-3 pr-2">We use cookies to improve your website experience</p>

                            <button  class="btn btn-primary">Learn more <i class="fas fa-book ml-1"></i></button>
                            <button  class="btn btn-outline-primary waves-effect" data-dismiss="modal">Ok, thanks</button>
                        </div>
                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>
    </div>
</div>
