
@{
    ViewBag.Title = "InterviewDetail";
    Layout = "~/Areas/Admin/Views/Shared/AdminUserLayoutPage.cshtml";
}

@model OOI.UI.Web.Areas.Admin.Models.VM.InterviewVM

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Röportaj Detayları</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                @using (Html.BeginForm("InterviewDetail", "Interview", FormMethod.Post))
                {
                    @Html.HiddenFor(x => x.ID)
                    <div class="form-group">
                        <label>ID : </label>
                        @Html.DisplayFor(x => x.ID, new { @type = "text", @class = "form-control", @id = "", @placeholder = "" })
                    </div>
                    <div class="form-group">
                        <label>Röportaj Adı : </label>
                        @Html.DisplayFor(x => x.Name, new { @type = "text", @class = "form-control", @id = "", @placeholder = "" })
                    </div>
                    <div class="form-group">
                        <label>Açıklama : </label>
                        @Html.DisplayFor(x => x.Description, new { @type = "text", @class = "form-control", @id = "", @placeholder = "" })
                    </div>
                    
                    <div>
                    </div>
                }
            </table>
        </div>
    </div>
</div>
