@model ProjectVM

    <div class="CastFoto">
        <h4>Cast Oyuncuları</h4>
        <div class="CastPhoto container d-flex flex-row justify-content-center">
            <div class="CastUsersDiv">
                <div class="CastPhotoImage">
                    <div class="CastFotograflari"><img id="foto2" src="~/Content/img/foto-10.jpg"></div>
                    <div class="fileUpload">
                        <span class="plus"><i class="fas fa-plus fa-2x"></i></span>
                        <div class="clear"></div>
                        <input accept="image/jpeg,image/jpg,image/png,image/JPEG,image/JPG" name="projectphotos" class="castfoto" id="2" type="file" aria-invalid="true">

                        <div class="clear"></div>
                        <span class="PhotoText"></span>
                    </div>
                </div>
                <div class="btnCıkar"><button class="CıkarOzellıkler">Çıkar</button></div>
            </div>
            <div class="CastUsersDiv">
                <div class="CastPhotoImage">
                    <div class="CastFotograflari"><img id="foto2" src="~/Content/img/foto-14.jpg"></div>
                    <div class="fileUpload">
                        <span class="plus"><i class="fas fa-plus fa-2x"></i></span>
                        <div class="clear"></div>
                        <input accept="image/jpeg,image/jpg,image/png,image/JPEG,image/JPG" name="projectphotos" class="castfoto" id="2" type="file" aria-invalid="true">

                        <div class="clear"></div>
                        <span class="PhotoText"></span>
                    </div>
                </div>
                <div class="btnCıkar"><button class="CıkarOzellıkler">Çıkar</button></div>

            </div>
            <div class="CastUsersDiv">
                <div class="CastPhotoImage">
                    <div class="CastFotograflari"><img id="foto2" src="~/Content/img/foto-6.jpg"></div>
                    <div class="fileUpload">
                        <span class="plus"><i class="fas fa-plus fa-2x"></i></span>
                        <div class="clear"></div>
                        <input accept="image/jpeg,image/jpg,image/png,image/JPEG,image/JPG" name="projectphotos" class="castfoto" id="2" type="file" aria-invalid="true">

                        <div class="clear"></div>
                        <span class="PhotoText"></span>
                    </div>
                </div>
                <div class="btnCıkar"><button class="CıkarOzellıkler">Çıkar</button></div>
            </div>
            <div class="CastUsersDiv">
                <div class="CastPhotoImage">
                    <div class="CastFotograflari"><img id="foto2" src="~/Content/img/foto-11.jpg"></div>
                    <div class="fileUpload">
                        <span class="plus"><i class="fas fa-plus fa-2x"></i></span>
                        <div class="clear"></div>
                        <input accept="image/jpeg,image/jpg,image/png,image/JPEG,image/JPG" name="projectphotos" class="castfoto" id="2" type="file" aria-invalid="true">

                        <div class="clear"></div>
                        <span class="PhotoText"></span>
                    </div>
                </div>
                <div class="btnCıkar"><button class="CıkarOzellıkler">Çıkar</button></div>
            </div>
            <div class="CastUsersDiv">
                <div class="CastPhotoImage">
                    <div class="CastFotograflari"><img id="foto2" src="~/Content/img/foto-12.jpg"></div>
                    <div class="fileUpload">
                        <span class="plus"><i class="fas fa-plus fa-2x"></i></span>
                        <div class="clear"></div>
                        <input accept="image/jpeg,image/jpg,image/png,image/JPEG,image/JPG" name="projectphotos" class="castfoto" id="2" type="file" aria-invalid="true">

                        <div class="clear"></div>
                        <span class="PhotoText"></span>
                    </div>
                </div>
                <div class="btnCıkar"><button class="CıkarOzellıkler">Çıkar</button></div>
            </div>

        </div>

    </div>


