@model ProjectVM
<div class="CastFoto container">
    <div class="CastPhoto">
        <h4>Proje Fotoğrafları</h4>
        <div class="CastPhotoDiv">
            <div class="CastPhotoImage">
                <div class="CastFotograflari"><img id="foto2" src="~/Content/img/empty.jpg"></div>
                <div class="fileUpload">
                    <div class="clear"></div>
                    <input accept="image/jpeg,image/jpg,image/png,image/JPEG,image/JPG" name="projectphotos" class="castfoto" id="2" type="file" aria-invalid="true">

                    <div class="clear"></div>
                    <span class="PhotoText"></span>
                </div>
            </div>
        </div>
        <div class="CastPhotoDiv">
            <div class="CastPhotoImage">
                <div class="CastFotograflari"><img id="foto3" src="~/Content/img/empty.jpg"></div>
                <div class="fileUpload">
                    <div class="clear"></div>
                    <input accept="image/jpeg,image/jpg,image/png,image/JPEG,image/JPG" name="projectphotos" id="3" class="castfoto" type="file" aria-invalid="true">

                    <div class="clear"></div>
                    <span class="PhotoText"></span>
                </div>
            </div>
        </div>
        <div class="CastPhotoDiv">
            <div class="CastPhotoImage">
                <div class="CastFotograflari"><img id="foto4" src="~/Content/img/empty.jpg"></div>
                <div class="fileUpload">
                    <div class="clear"></div>
                    <input accept="image/jpeg,image/jpg,image/png,image/JPEG,image/JPG" name="projectphotos" type="file" id="4" class="castfoto" aria-invalid="true">

                    <div class="clear"></div>
                    <span class="PhotoText"></span>
                </div>
            </div>
        </div>
        <div class="CastPhotoDiv">
            <div class="CastPhotoImage">
                <div class="CastFotograflari"><img id="foto5" src="~/Content/img/empty.jpg"></div>
                <div class="fileUpload">
                    <div class="clear"></div>
                    <input accept="image/jpeg,image/jpg,image/png,image/JPEG,image/JPG" class="castfoto" name="projectphotos" id="5" type="file" aria-invalid="true">

                    <div class="clear"></div>
                    <span class="PhotoText"></span>
                </div>
            </div>
        </div>

    </div>
</div>
