
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
<style>
    .CastFotograflari img {
        height: inherit;
        width: inherit;
    }
</style>
@model ProjectVM
<div class="CastOlusturma container">
    <div class="CastOlusturma-a">
        <div>
            <div class="baslıkcontainer">
                <div class="baslık star foto-16"></div>
                <div class="baslık"><span>Proje Düzenleme</span></div>
                <div class="baslık star foto-16"></div>
            </div>
        </div>

        <form class="CastForm" action="/SiteProject/Add" method="post" enctype="multipart/form-data">
            @Html.Partial("Partial/ProjectInfoForm", Model)
            @Html.Partial("Partial/ProjectPhotos", Model)
            @Html.Partial("Partial/ProjectUSers", Model)
            <div class="ProjeAddButton" id="btnbutton"><button class="btn btn-primary " id="btnOlustur" type="submit">Düzenle</button></div>
        </form>
    </div>
</div>
@section scripts {
    <script>

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#projectmainimg').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#projectmainfile").change(function () {
            readURL(this);
        });
    </script>
    <script>
        function readMultiURL(input, id) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#foto' + id).attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $(".castfoto").change(function () {
            var id = $(this).attr("id");
            readMultiURL(this, id);
        });
    </script>


}
