
@{
    ViewBag.Title = "CompanyConfirm";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

@model OOI.UI.Web.Models.VM.ConfirmVM

<div class="container-fluid d-flex justify-content-center">
    <div class="kayit-login">
        <div class="kayit-login-a">

            <form method="post" action="" @Url.Action("CompanyConfirm", "WebUSerRegister") ">
                <h1 class="login-title">Aktivasyon</h1>
                <div class="form-group">
                    <label for="">Aktivasyon kodunuz</label>
                    <input type="text" class="form-control" id="" aria-describedby="" placeholder="" name="ConfirmCode">
                </div>
                <button type="submit" class="form-b abutton">Gönder</button>
            </form>

        </div>
    </div>
</div>

