
@{
    ViewBag.Title = "Kredi Paketleri";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<div class="packs packs-title px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4 packs-heading mb-3">Kredi Paketleri</h1>
    <p class="lead text-muted packs-subtitle">
        Size uygun paketlerimizden birini seçerek daha özel haklara sahip olabilirsiniz.
    </p>
</div>

<div class="container packs mb-5 mt-4">
    <div class="row">
        <div class="col-sm-12 col-md-4 mb-5">
            <div class="card text-center">
                <div class="card-body">
                    <h4 class="card-title pt-3 pb-4">BAŞLANGIÇ</h4>
                    <div class="d-flex justify-content-center align-items-baseline pt-3">
                        <p class="display-4 price">20</p>
                        <p class="pl-2 currency">₺ / Yıllık</p>
                    </div>
                    <h6 class="small pb-4 text-muted"><em>Tüm vergiler dahildir ve 12 ay üzerinden hesaplanmıştır.</em></h6>
                    <ul class="list-unstyled mt-5">
                        <li><span>20</span> Kredi</li>
                        <li><span>1</span> Demo Reel Yükleme</li>
                        <li><span>20</span> Fotoğraf Yükleme </li>
                        <li><span>10</span> Profil Fotoğrafı Değiştirme </li>
                    </ul>
                    <a href="/Order/CheckOut/1"><button class="mb-3">SATIN AL</button></a> 
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 mb-5">
            <div class="card text-center">
                <div class="card-body">
                    <h4 class="card-title pt-3 pb-4">STANDART</h4>
                    <div class="d-flex justify-content-center align-items-baseline pt-3">
                        <p class="display-4 price">50</p>
                        <p class="pl-2 currency">₺ / Yıllık</p>
                    </div>
                    <h6 class="small pb-4 text-muted"><em>Tüm vergiler dahildir ve 12 ay üzerinden hesaplanmıştır.</em></h6>
                    <ul class="list-unstyled mt-5">
                        <li><span>50</span> Kredi</li>
                        <li><span>3</span> Demo Reel Yükleme</li>
                        <li><span>30</span> Fotoğraf Yükleme </li>
                        <li><span>20</span> Profil Fotoğrafı Değiştirme </li>
                    </ul>
                    <a href="/Order/CheckOut/2"><button class="mb-3">SATIN AL</button></a> 
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 mb-5">
            <div class="card text-center">
                <div class="card-body">
                    <h4 class="card-title pt-3 pb-4">PREMIUM</h4>
                    <div class="d-flex justify-content-center align-items-baseline pt-3">
                        <p class="display-4 price">100</p>
                        <p class="pl-md-2 currency">₺ / Yıllık</p>
                    </div>
                    <h6 class="small pb-4 text-muted"><em>Tüm vergiler dahildir ve 12 ay üzerinden hesaplanmıştır.</em></h6>
                    <ul class="list-unstyled mt-5">
                        <li><span>100</span> Kredi</li>
                        <li><span>10</span> Demo Reel Yükleme</li>
                        <li><span>40</span> Fotoğraf Yükleme </li>
                        <li><span>30</span> Profil Fotoğrafı Değiştirme </li>
                    </ul>
                    <a href="/Order/CheckOut/3"><button class="mb-3">SATIN AL</button></a> 
                </div>
            </div>
        </div>

    </div>
</div>

