@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}


<div style="margin-top:120px" class="container">
    <h2>Güvenlik ve Gizlilik Politikası</h2>
    <hr />
    <p>
        oyuncuoluyorum.com, kullanıcı bilgilerinin güvenliğine büyük önem vermektedir.oyuncuoluyorum.com'a kaydettiğiniz tüm hassas ve kişisel bilgiler, yalnızca T.C.'ye sunulan en yüksek elektronik ve fiziksel güvenlik standartlarında tutulur. Bunlar yasalar ve uluslararası yasalar tarafından korunmaktadır.
    </p>
    <p>
        oyuncuoluyorum.com, kullanıcılardan topladığı kişisel ve hassas bilgileri herhangi bir isim altında, sebepsiz ve hiçbir sebep olmaksızın, tarafların rızası olmadan ifşa etmemeyi, bu bilgileri üçüncü şahıslarla paylaşmamayı ve hiçbir şekilde kötüye kullanmamayı taahhüt eder.
    </p>

    <p>
        Güvenli alışveriş ilkesiyle geliştirilen web sitemizin altyapısı, özellikle SSL teknolojisi gibi gelişmiş iletişim protokolleri ile çalışmaktadır. Kredi kartı bilgilerini girdiğiniz sayfanın sol tarafındaki kilit resmi, sayfanın SSL ile şifrelenmiş olduğunu ve üzerine tıkladığınızda şifrelemenin hangi şirkete ait olduğunu gösterir. Bankalarla yaptığımız anlaşmaya uygun olarak, kredi kartı bilgileriniz yetkisiz kişilerce izlenemez, ancak sistemlerimiz tarafından saklanmaz.
    </p>

    <p>
        oyuncuoluyorum.com, ilk etapta alışveriş yapan kredi kartı sahiplerinin güvenliğini sağlar.oyuncuoluyorum.com bu amaçla kurulmuş ve müşteri kredi kartını tutan bir kredi kartı onayına ve güvenlik birimine sahiptir. Sitemizden ilk kez alışveriş yapan müşterilerin siparişlerini teyit etmek için müşterinin finansal bilgilerinin banka ve banka Güvenlik ve Onay Departmanı onaylanmasında teyit edilmesi gerekmektedir.
    </p>

    <p>
        Bu belgede yer alan bilgileroyuncuoluyorum.com'un güvenlik ve gizlilik politikasını açıklar.oyuncuoluyorum.com, kullanıcıları bilgilendirmek kaydıyla, istediği zaman bu güvenlik belgesinde değişiklik yapma hakkını saklı tutar.
    </p>
   <hr />
</div>
